<div class="toolbar">

    <div *ngIf="this.showStrictCheckBox" class="checkbox-list-container">
        <div class='checkbox-list-topbar'>
            <span>Must include:</span>
            <span (click)="toggleCheckboxList('strict')" class="close">X</span>
        </div>
        <div class="checkbox-list">
            <div *ngFor="let item of this.itemList" class="checkbox-list-item">
                <span>{{item}}</span>
                <input class="checkbox" type="checkbox" [checked]="this.strictFilters[item]"
                    (click)="updateFilterList(item, 'strict')">
            </div>
        </div>
    </div>

    <div *ngIf="this.showLooseCheckBox" class="checkbox-list-container">
        <div class='checkbox-list-topbar'>
            <span>Includes either:</span>
            <span (click)="toggleCheckboxList('loose')" class="close">X</span>
        </div>
        <div class="checkbox-list">
            <div *ngFor="let item of this.itemList" class="checkbox-list-item">
                <span>{{item}}</span>
                <input class="checkbox" type="checkbox" [checked]="this.looseFilters[item]"
                    (click)="updateFilterList(item, 'loose')">
            </div>
        </div>
    </div>

    <div class="toolbar-fields">
        <div class="field-group">
            <div class='field-container'>
                <label>Price Min:</label>
                <input class='text-input' (keyup)="onKeyMin($event)"> <br>
            </div>
            <div class='field-container'>
                <label>Price Max:</label>
                <input class='text-input' (keyup)="onKeyMax($event)"> <br>
            </div>
            <div class='field-container'>
                <label>Min Unit Number:</label>
                <input class='text-input' (keyup)="onKeyMinUnit($event)"> <br>
            </div>
            <div class='field-container'>
                <label>Max Unit Number:</label>
                <input class='text-input' (keyup)="onKeyMaxUnit($event)"> <br>
            </div>

            <div class='field-container'>
                <label>Must include:</label>
                <button (click)="toggleCheckboxList('strict')" [disabled]='this.showLooseCheckBox'>...</button><br>
            </div>

            <div class='field-container'>
                <label>Includes either:</label>
                <button (click)="toggleCheckboxList('loose')" [disabled]='this.showStrictCheckBox'>...</button><br>
            </div>
            
        </div>
        <div class="type-checkbox-container">
            <div>
                <label>Auctions:</label>
                <input type='checkbox' [checked]="this.allowedTypes.includes('auction')" (click)="updateAllowedTypes('auction')">
            </div>
            <div>
                <label>Offers:</label>
                <input type='checkbox' [checked]="this.allowedTypes.includes('offer')" (click)="updateAllowedTypes('offer')">
            </div>
            <div>
                <label>Listings:</label>
                <input type='checkbox' [checked]="this.allowedTypes.includes('listing')" (click)="updateAllowedTypes('listing')">
            </div>
        </div>

        <button (click)="filter()">Apply</button>

    </div>
</div>

<div class="container">
    <div class="table">
        <div class="table-header">
            <div class="page-info">
                <div class="space"></div>
                <span class="count">{{this.displayedUnits.length}} units</span>
                <div class="page-controls">
                    <button class="prev-next-button" (click)="start()"><i class="fas fa-angle-double-left"></i></button>
                    <button class="prev-next-button" (click)="decrement()"><i class="fas fa-chevron-left"></i></button>
                    <input disabled class="page-num" value="{{this.page}}">
                    <button class="prev-next-button" (click)="increment()"><i class="fas fa-chevron-right"></i></button>
                    <button class="prev-next-button" (click)="end()"><i class="fas fa-angle-double-right"></i></button>
                </div>
            </div>

            <div class="table-header-items">
                <div class='table-header-item'>
                    Unit #: <i [ngClass]="{'dark': this.sortBy == 'number'}" class="fas fa-sort sort" (click)="setSort('number')"></i>
                </div>
                <div class='table-header-item'      >Price: <i  [ngClass]="{'dark': this.sortBy == 'price'}"    class="fas fa-sort sort" (click)="setSort('price')"></i></div>
                <div class='table-header-item'      >Value: <i  [ngClass]="{'dark': this.sortBy == 'value'}"    class="fas fa-sort sort" (click)="setSort('value')"></i></div>
                <div class='table-header-item hide' >Items: <i  [ngClass]="{'dark': this.sortBy == 'items'}"    class="fas fa-sort sort" (click)="setSort('items')"></i></div>
                <div class='table-header-item hide' >Base: <i   [ngClass]="{'dark': this.sortBy == 'base'}"     class="fas fa-sort sort" (click)="setSort('base')"></i></div>
                <div class='table-header-item hide' >Poster: <i [ngClass]="{'dark': this.sortBy == 'poster'}"   class="fas fa-sort sort" (click)="setSort('poster')"></i></div>
                <div class='table-header-item hide' >Glitch: <i [ngClass]="{'dark': this.sortBy == 'glitched'}" class="fas fa-sort sort" (click)="setSort('glitched')"></i></div>
                <div class='header-spacer'></div>
            </div>

        </div>
        <div class="table-body">
            
            <div id="table-content" class="table-content" *ngIf="!this.loading">
                <div class="table-item" *ngFor="let unit of this.displayedUnits | paginator: this.page:this.pageSize" (click)="toggleExpand(unit.name)" [ngClass]="{'expanded': this.expanded[unit.name]}">
                    
                    <div class="table-item-detail-top">
                        <div class='table-item-detail'>
                            <i class="far fa-eye pointer" (click)="openAsset(unit.name)"></i> {{unit.name}}
                        </div>
                        <div class='table-item-detail'>
                            <i class="fas fa-shopping-cart pointer" *ngIf="unit.price != ''"
                                (click)="openListing(unit.listingId)"></i>
                            {{unit.price}}
                        </div>
                        <div class='table-item-detail'>{{unit.value}}</div>
                        <div class='table-item-detail hide'>{{unit.itemCount}}</div>
                        <div class='table-item-detail hide'>{{unit.base}}</div>
                        <div class='table-item-detail hide'>{{unit.poster}}</div>
                        <div class='table-item-detail hide'>{{unit.glitched}}</div>
                    </div>

                    <div class="table-item-detail-bottom" *ngIf="this.expanded[unit.name]">

                        <div class="table-item-detail-bottom-detail" *ngFor="let item of unit.itemsList.slice(0,5)" style="color: {{this.getItemColor(item.instances)}}">{{item.name}}</div>

                    </div>
                </div>
            </div>

            <div class="loading-dots-container" *ngIf="this.loading && !this.fetchFailed">
                Downloading unit data
                <div class="loading-dots">
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
              </div>
          
              <div class="fetch-failed" *ngIf="this.fetchFailed">
                <span>Fetching data failed</span>
                <span class='warning-icon'>&#9888;</span>
              </div>
              
        </div>
    </div>
</div>