<div class="toolbar">
  <div *ngIf="this.showCheckBox" class="checkbox-list-container">
    <div class='checkbox-list-topbar'>
      <span (click)="toggleCheckboxList()" class="close">X</span>
    </div>
    <div class="checkbox-list">
      <div *ngFor="let item of this.itemList" class="checkbox-list-item">
        <span>{{item}}</span>
        <input class="checkbox" type="checkbox" [checked]="this.filters[item]" (click)="updateFilterList(item)">
      </div>
    </div>
  </div>
  <div class="toolbar-fields">
    <div class='field-container'>
      <label>Sort By:</label>
      <select [value]="sort" (change)="changeParams()">
        <option>Date</option>
        <option>Price</option>
      </select>
    </div>
    <div class='field-container'>
      <label>Order:</label>
      <select [value]="sortOrder" (change)="changeParams()">
        <option>Asc</option>
        <option>Desc</option>
      </select>
    </div>
    <div class='field-container'>
      <label>Price Min:</label>
      <input (keyup)="onKeyMin($event)" (change)="changeParams()"> <br>
    </div>
    <div class='field-container'>
      <label>Price Max:</label>
      <input (keyup)="onKeyMax($event)" (change)="changeParams()"> <br>
    </div>

    <div class='field-container'>
      <label>Max Unit#:</label>
      <input (keyup)="onKeyMaxUnit($event)" (change)="changeParams()"> <br>
    </div>

    <div class='field-container'>
      <label>Must include:</label>
      <button (click)="toggleCheckboxList()">...</button><br>
    </div>
  
    <button (click)="search()">Search</button><br>
  </div>

</div>

<div id='container' class="container" >
    <div *ngFor="let asset of this.displayedListings" class='listing-card' (click)="openLink(asset.id)">
        <div class='listing-card-details'>
          <div>{{asset.name}}</div>
          <div>{{asset.price}}ADA</div>
        </div>
        <div class='listing-card-items'>
          <div *ngIf="!asset.name.includes('poster')" >
            <div>{{asset.numItems}} items:</div>
            <div *ngFor="let i of [0,1,2,3,4]">
              <span *ngIf="!asset.name.includes('Poster')" style="color:{{asset.items[i].color}}">{{asset.items[i].text}}</span>
            </div>
          </div>
        </div>
    </div>
    <div class="loading-dots" *ngIf="this.processedResults < this.count">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
</div>