.footer {
  min-height:5vh;
  width:90%;
  margin:20px auto;
  padding:5px;
  background-color:#1f1f1f;
  color:white;
  border-radius: 5px;
  text-align:center;
  word-wrap:break-word;
  font-size:15px;
}

.footer a, .footer a:visited {
  color:white;
}
