<div class="menu-container">
    <div class="menu-list">
        
        <li>
            <a [ngClass]="{'underline': this.router.url == '/home'}" routerLink="/home">Home (CNFT.io viewer)</a>
        </li>
        <li>
            <a [ngClass]="{'underline': this.router.url == '/explorer'}" routerLink="/explorer">Explorer</a>
        </li>
        <li>
            <a [ngClass]="{'underline': this.router.url == '/alerts'}" routerLink="/alerts">Alerts</a>
        </li>
        <li>
            <a [ngClass]="{'underline': this.router.url == '/rarities'}" routerLink="/rarities">Rarities</a>
        </li>
    </div>
</div>