.menu-container {
    position: fixed;
    left:4%;
    top:50px;
    width:300px;
    border-radius: 5px;
    background-color:#292929;
}

.logo {
    width:100px;
    height:50px;
    margin: auto;
}

.menu-list {
    margin: 0px 5px;
    color:white;
    font-family: Helvetica, sans-serif;
    list-style: none;
}

.menu-list li {
    padding: 15px 10px;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-color: #333;
}

a {
    text-decoration: none;
    color:white;
}

a:visited {
    color:white;
}