body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#181818;
}

button:hover {
    cursor:pointer;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  background:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
}